body{
    background:#111;
    color:white;
    text-align:center;
    font-family:Arial;
}

#grid{
    display:grid;
    grid-template-columns: repeat(5, 70px);
    gap:8px;
    justify-content:center;
    margin:30px auto;
}

.tile{
    width:70px;
    height:70px;
    background:#222;
    border:2px solid gold;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    border-radius:8px;
}

